:root {
  ---white-color: #fff;
  ---black-color: #000;
  ---text-color: #333;
  ---border-color: #dbdbdb;
  /* primary color #f53e2d */
  ---primary-color: 245, 62, 45;
  ---color: 240, 240, 240;
  ---navbar-height: 34px;
  ---header-height: 120px;
  --header-with-search: calc(var(---header-height) - var(---navbar-height));
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  /*trick hack */

  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 1.6 rem;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Button */
.btn {
  min-width: 142px;
  height: 36px;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
  background-color: var(---white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.btn--default-hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn.btn--primary {
  background-color: rgb(var(---primary-color));
  color: var(---white-color);
}
.btn.btn--disabled {
  cursor: not-allowed;
  filter: brightness(80%);
}
.btn.btn--size-small {
  height: 30px;
  font-size: 12px;
}
